<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="alert alert-success" *ngIf="acao">
            <strong>Successo!</strong> {{mensagem}}
        </div>
        <div class="col-sm-12">
            <h2>Movimenta&ccedil;&atilde;o de Conta</h2>
            <br/>

            <script>
                $(document).ready(function(){
                    $("#divContaDestino").hide();
                 });
                
                function verificaTransferencia() {
                    var tipo = $("#operacao option:selected").val();
                    if(tipo == "DebitoCredito") {
                        $("#divContaDestino").show(1000);
                    }
                    else {
                        $("#divContaDestino").hide(1000);
                    }
                }
            </script>

            <form method="get" (submit)="movimentar(movimentacaoForm)">
                    <div class="form-row">
                        <div class="col">
                            <select class="form-control" id="operacao" ([ngModel])="movimentacaoForm.operacao" onchange="verificaTransferencia() ">
                                <option value="Credito">Dep&oacute;sito</option>
                                <option value="Debito">Saque</option>
                                <option value="DebitoCredito">Transfer&ecirc;ncia</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="numConta" ([ngModel])="movimentacaoForm.numConta" min="1" max="999999"placeholder="Conta Corrente" required>
                        </div>
                        <div class="col" id="divContaDestino">
                            <input type="number" class="form-control" id="numContaDestino" ([ngModel])="movimentacaoForm.numContaDestino" min="1" max="999999"placeholder="Conta Corrente Destino">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="valor" ([ngModel])="movimentacaoForm.valor" max="10000.00" step="0.01" placeholder="Valor" required>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">Movimentar</button>
                          </div>
                    </div>
              </form>
             <hr/>

            <p>Listagem das movimenta&ccedil;&otilde;es das correntes existentes no banco.</p>

            <table class="table table-striped"> 
                <thead>
                    <tr>
                        <th>Num. Conta</th>
                        <th>Descri&ccedil;&atilde;o</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mov of movimentacoes">
                        <td><a href="javascript:;" (click)="exibir(mov.numConta)">{{ mov.numConta | number : '3.0' }}</a></td>
                        <td>{{ mov.descricao}}</td>
                        <td>{{ mov.valor | number : '0.2' }}</td>
                        <td>{{ mov.tipo}}</td>
                        <td>{{ mov.data}}</td>
                    </tr>
                </tbody>
            </table>

        </div>   
    </div>
</div>

